@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

$Blue: hsl(223, 87%, 63%);
$Pale_Blue: hsl(223, 100%, 88%);
$Light_Red: hsl(354, 100%, 66%);
$Gray: hsl(0, 0%, 59%);
$Very_Dark_Blue: hsl(209, 33%, 12%);

body{
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    padding: 40px 50px;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    .d1{
        color: $Gray;
        font-size: 40px;
        margin-top: 20px;

        span{
             color: $Very_Dark_Blue;
             font-weight: 700;
        }
    }

    .d2{
        color: $Very_Dark_Blue;
    }

    .d3{
        margin-top: 10px;
        display: flex;
        flex-direction: row;

        input[type="email"]{
            border: 1px solid $Pale_Blue;
            padding: 15px 20px;
            border-radius: 30px;
            width: 300px;
            margin-right: 10px;

            &::placeholder{
                color: $Pale_Blue;
            }
        }

        input[type="submit"]{
            background-color: $Blue;
            color: white;
            border: none;
            height: 46.36px;
            width: 170px;
            border-radius: 30px;
            box-shadow: 0 5px 10px $Pale_Blue;

            &:hover{
                cursor: pointer;
                background-color: hsl(223, 89%, 69%);
            }
        }

        .emailError{
            color: $Light_Red;
            font-size: 12px;
            font-style: italic;
            margin-top: 5px;
            margin-left: 20px;
        }

    }

    .dashboard{
        width: 530px;
        margin-top: 50px;
    }

    .d4{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 20px;

        .icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 15px;

            ion-icon[name="logo-facebook"], ion-icon[name="logo-twitter"], ion-icon[name="logo-instagram"]{
                color: $Blue;
                border-radius: 50%;
                border: 1px solid $Pale_Blue;
                padding: 6px;
                cursor: pointer;
            }
        }

        color: $Gray;
        font-size: 15px;
    }
}

@media (max-width: 375px){
    .container{
        .d1{
            color: $Gray;
            font-size: 25px;
            margin-top: 20px;
    
            span{
                 color: $Very_Dark_Blue;
                 font-weight: 700;
            }
        }

        .d2{
            font-size: 15px;
        }

        .d3{
            flex-direction: column;

            input[type="submit"]{
                width: 342px;
            }
        }

        .dashboard{
            width: 300px;
        }

        .d4{
            margin-top: 100px;
        }
    }
}
